<!DOCTYPE html>
<html>

<head>
    <title>Página de Prescrição</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link rel="stylesheet" href="/static/cssfiles/aboutusstyle.css">
    <link rel="stylesheet" href="/static/cssfiles/prescriptionstyle.css">
</head>

<body>
    <!-- Header da Área do Médico -->
    <header>
        <div class="navbar">
            <div class="pro_title border">
                <i class="fa-solid fa-tooth"></i> DENTIST
            </div>
            <div class="user-part">
                <div class="about-us border">
                    <a href="#">Área do Doutor(a)</a>
                </div>
                <div class="user">
                    <i class="fa-solid fa-user-doctor"></i>
                </div>
            </div>
        </div>
    </header>

    {% if messages %}
    {%for message in messages%}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>{{ message}}</strong>
    </div>

    {% endfor%}
    {%endif%}
    <div class="detail-user">

        <div class="detail-set">
            <div class="details">
                <div class="name">
                    <p>Nome: {{userdetail.name}}</p>

                </div>
                <div class="row1">
                    <div class="name">
                        <p>Idade: {{age}}</p>

                    </div>
                    <div class="name">
                        <p>Gênero: {{userdetail.gender}}</p>



                    </div>
                </div>
                <div class="row1">
                    <div class="name">
                        <p>Contato: {{userdetail.contact}}</p>

                    </div>
                    <div class="name">
                        <p>Email: {{userdetail.email}}</p>


                    </div>
                </div>

            </div>
            <div class="user-history" id="appointment-history">
                {%if noappointment == True%}
                <table class="history-table">

                    <tr>

                        <th class="table-date">Data</th>

                        <th class="table-prescribe">Prescrição</th>
                    </tr>
                    {%for n in userdetail1%}
                    <tr>

                        <td class="display-date">
                            <p>{{n.appdate}}</p>
                        </td>

                        <td>
                            <p>{{n.prescription}}</p>
                        </td>
                    </tr>
                    {%endfor%}

                </table>
                {% elif noappointment == False %}
                <div class="detail-title1">

                </div>
                {%endif%}



            </div>
        </div>
        <form method="post" action="{% url 'prescription' email %}">
            {% csrf_token %}

            <div class="name1">

                <label for="pres">
                    <p>Prescrição:</p>
                </label>
                <textarea id="pres" name="pres" placeholder="Escreva a Prescrição" class="input-two"></textarea>
            </div>
            <div class="button">
                <p>
                    <input type="submit" class="btn" value="Enviar">
                </p>

            </div>


        </form>



    </div>

    <!-- Footer da Área do Médico -->
    <footer>
        <div class="panel2">
            <div class="pro_title border">
                <i class="fa-solid fa-tooth"></i>
                DENTIST
            </div>
        </div>
        <div class="panel3">
            <p>DENTIST © 2024, Todos os Direitos Reservados </p>
        </div>
    </footer>

</body>

</html>