<!DOCTYPE html>
<html>

<head>
    <title>Página Inicial do Usuário</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/static/cssfiles/userhomepstyle.css">

</head>

<body>
    <!-- header -->
    <header>

        <div class="navbar" id="home-page">

            <div class="pro_title border">
                <i class="fa-solid fa-tooth"></i>
                DENTIST
            </div>

            <div class="nav-search ">
                {% comment %} <input placeholder="Buscar Dentista" class="search-input" id="search-dentist">
                <div class="search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div> {% endcomment %}

            </div>
            <div class="contact-us border">
                <a href="{% url 'contact' %}">Fale Conosco</a>

            </div>
            <div class="about-us border">
                <a href="{% url 'about' %}">Sobre Nós</a>

            </div>

            <div class="user">
                <i class="fa-solid fa-user"></i>
            </div>
        </div>


    </header>

    <!-- toggle menu -->
    <input type="checkbox" id="openSidebarMenu">
    <label for="openSidebarMenu" class="sidebarIconToggle">

    </label>
    <div id="sidebarMenu">
        <ul class="menu">
            <li><a href="{% url 'userdetail' email %}">Meus Dados</a></li>
            <li><a href="{% url 'applist' email %}">Agendamentos</a></li>
            <li><a href="{% url 'history' email%}">Histórico</a></li>
            <li><a href="{%url 'userlogout'%}">Sair</a></li>

        </ul>

    </div>
    {% if messages %}
    {%for message in messages%}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>{{ message}}</strong>
    </div>

    {% endfor%}
    {%endif%}
    <!-- hero section -->
    <div class="hero-section">
        <div class="hero-msgone">
            <p class="mone">SORRIA</p>
            <p>SEM</p>
            <p>HESITAÇÃO</p>
        </div>
        <div class="hero-msgtwo">
            <p>
                Nós protegemos seu sorriso e deixamos seu sorriso perfeito ainda melhor.
            </p>
        </div>
    </div>
    <!-- Appointment Section -->
    <div class="appointment-section" id="book-appointment">
        <div class="normal-appointment box">
            <div class="box-content">
                <h3>Consulta Normal</h3>
                <div class="msgthree">
                    <p>Check-ups odontológicos regulares oferecem uma gama de benefícios que protegem a saúde bucal.
                        Eles facilitam a prevenção e a detecção precoce de problemas dentários, permitindo uma
                        intervenção oportuna para evitar que se agravem. Check-ups preventivos regulares são a chave
                        para manter tanto a sua saúde bucal quanto a sua saúde geral, ajudando a evitar dores e os
                        custos que os problemas dentários podem trazer.</p>
                </div>

                <div class="make-appointment">
                    <p> <a class="a1 " href="{% url 'appointment' email%}" target="_blank">Marcar uma Consulta</a></p>
                </div>
            </div>
        </div>
        <div class="emergency-appointment box">
            <div class="box-content">
                <h3 class="emer">Emergência!</h3>
                <div class="msgthree">
                    <p>Se você tiver uma dor de dente que dura mais de 1-2 dias e está causando muita dor ou
                        desconforto, você está tendo uma emergência odontológica. Isso geralmente indica uma cárie
                        avançada ou um dente infeccionado. Sem os devidos cuidados, sua condição só irá piorar.</p>
                    <br>
                    <p class="emer1">
                        Observação: Para emergências, marque uma consulta que o ajudará a obter um atendimento rápido
                        com o melhor dentista em até 1 hora.
                    </p>
                </div>

                <div class="make-appointment">
                    <p> <a class="a1 " href="{% url 'emergencyappointment' email%}">Marcar uma Consulta</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <footer>
        <div class="panel1 ">
            <ul class="ul1">
                <p>Conheça-nos</p>
                <a href="{% url 'userhp' email %}">Início</a>
                <a href="{% url 'about' %}">Sobre Nós</a>
                <a href="{% url 'contact' %}">Fale Conosco</a>


            </ul>
            <ul class="ul1">
                <p>Para Pacientes</p>
                <a href="#search-dentist">Encontrar Doutores</a>
                <a href="#book-appointment">Agendar Consulta</a>
            </ul>

            <ul>
                <p>Redes Sociais</p>
                <div class="social">
                    <i class="fa-brands fa-x-twitter"></i>
                    <a href="#">Twitter</a>
                </div>
                <div class="social">
                    <i class="fa-brands fa-facebook"></i>
                    <a href="#">Facebook</a>
                </div>
                <div class="social">
                    <i class="fa-brands fa-instagram"></i>
                    <a href="#">Instagram</a>
                </div>
            </ul>


        </div>
        <div class="panel2">
            <div class="pro_title border">
                <i class="fa-solid fa-tooth"></i>
                DENTIST
            </div>
        </div>

        <div class="panel3">
            <p>DENTIST © 2024, Todos os Direitos Reservados </p>
        </div>
    </footer>
</body>

</html>